---
import Layout from '../layouts/BlogPost.astro';
import GlowLineSeparator from '@/components/ui/separator/GlowLineSeparator.astro';
const pageTitle = 'About Me';
const pageDescription = 'Learn more about my background and approach to software engineering.';
---

<Layout title={pageTitle} description={pageDescription} pubDate={new Date()} showHeader={false}>
  <p>
    I'm a creator, a tinkerer, and a writer with a love of learning. I've taught myself to code, animate, and tell stories over the past decade. Every step of the way was a new experiment,
    a new project, and another chance to do something new. As a famous teacher once said, <a href="https://www.youtube.com/watch?v=p8jw_-Vh9Z0">take chances, make mistakes, and get messy."</a> I might've dated myself with that line.
  </p>
  <p>
    This website is one of those chances. I'm aiming to pivot into Technical Writing. The <a href=https://www.cartoonbrew.com/artist-rights/2023-animation-industry-layoff-tracker-231771.html>3D industry</a><a href="https://www.cartoonbrew.com/business/2024-animation-industry-layoff-tracker-236827.html"> isn't as healthy </a><a href="https://en.wikipedia.org/wiki/2022%E2%80%932025_video_game_industry_layoffs">as it once was</a>. I have the skills as a writer, coder, and a creator to do the work - but the portfolio pieces I have are older, written for the wrong audience, cover the wrong topics, and they were written for a different purpose.
  </p>
  <p>
    Luckily, I'm a coder. And a writer. If I don't have the portfolio I need - <b>I'll make it</b>. This site holds its own documentation: guides to build a site just like it, articles about the tools to do the job, instructions about deploying the site, and stories from my work history. Every piece will be available on Github for others to use - just like <a href="https://github.com/guihubie/free-astro-template"> the template I'm starting with (credit where it's due).</a>
  </p>
  <p>
    Take a look around, this place is going to change substantially as I hammer this template to fit my needs and stuff it with writing, pictures, and videos. <a href="https://bsky.app/profile/hirethis.one">You can find me on BSky for my thoughts as I get this built out.</a>
  </p>

  <GlowLineSeparator />

</Layout>
